@font-face {
	font-family: 'Oswald';
	src: local('Oswald'),
		url('/fonts/Oswald-VariableFont_wght.ttf'); 
}

@font-face {
	font-family: 'Zen Kaku Gothic Antique';
    font-weight: normal;
	src: local('Zen Kaku Gothic Antique'),
		url('/fonts/ZenKakuGothicAntique-Regular.ttf'); 
}

@font-face {
	font-family: 'Zen Kaku Gothic Antique';
    font-weight: bold;
	src: local('Zen Kaku Gothic Antique'),
		url('/fonts/ZenKakuGothicAntique-Bold.ttf'); 
}

:root {
    font-size: 16px;
    --color-text-first: #ffffff;
    --color-text-second: #212121;
    --color-background-first: #000000;
    --color-background-second: #ffffff;
    --logo-gradient: linear-gradient(116.57deg, #E7DC79 33.33%, #B66D1E 100%);
    --main-gradient: linear-gradient(116.57deg, #FFE2AE 33.33%, #CCA04A 100%);
}

* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.45;
    box-sizing: border-box;
}

body {
    position: relative;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

h3 {
    font-size: 1.25rem;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

button, .button {
    font-size: 1.25rem;
    background-image: var(--main-gradient);
    padding: 0.3125rem 1.875rem 0.625rem;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Header */

header {
    background-color: var(--color-background-first);
    color: var(--color-text-first);
}

.wrapper {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_logo {
    font-family: 'Oswald', sans-serif;
    font-size: 3.125rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--logo-gradient);
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    font-size: 1.25rem;
}

.burger {
    display: none;
}

.header_menu__mobile__container {
    display: none;
}

/* /Header */
/* Main screen */
.main_screen {
    height: calc(100vh - 110px);
    background-image: url('images/main_banner.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-text-first);
}

.main_screen__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.main_screen__container h1 {
    margin-bottom: 10px;
    text-shadow: 0 0 50px black;
}

.main_screen__container p {
    font-size: 1.125rem;
    margin-bottom: 60px;
}
/* /Main screen */

/* Without */
.content_without {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    max-height: 700px;
}

.content_without img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_without img:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content_without img:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* /Without */
/* Terms */
.terms {
    background-image: url('images/terms.jpg');
    color: var(--color-text-first);
    background-position: center;
    background-size: cover;
}

.terms_container {
    max-width: 540px;
    background-color:  rgba(33, 33, 33, .85);
    padding: 70px 10px;
    text-align: center;
}

.terms_container ul {
    margin-bottom: 60px;
}

.terms_container ul li {
    margin-bottom: 40px;
}

.terms_container ul li img {
    margin-bottom: 10px;
}
/* /Terms */

/* About */
.about_container {
    display: grid;
    grid-template-columns: calc(50% + 85px) calc(50% - 105px);
    gap: 30px;
    align-items: center;    
    margin-bottom: 90px;  
}

.about_slider__container {
    position: relative;
}

.about_slider__container .owl-nav {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 18px;
}

.about_slider__container .owl-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-text-second) !important;
    border-radius: 50%;
}

.about_slider__container .owl-nav button.owl-next {
    background-color: var(--color-background-first) !important;
    transform: rotate(180deg);
}

.about_slider__container .owl-nav button::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--color-text-second);
    border-bottom: 2px solid var(--color-text-second);
    transform: rotate(45deg) translate(1px, -1px);
}

.about_slider__container .owl-nav button.owl-next::before {
    border-color: var(--color-text-first);
}


.about_slider__container .owl-nav button span {
    display: none;
}

.about_slider__container img {
    display: block;
    width: 100%;
    max-height: 470px;
    object-fit: cover;
}

.about_text .button {
    margin-top: 60px;
    display: inline-block;
}
/* /About */

/* Requirements */
.requirements {
    background-image: url('images/requirements.jpg');
    color: var(--color-text-first);
    background-position: center;
    background-size: cover;
}
/* /Requirements */
/* Request */
.request {
    background-image: url('images/request.jpg');
    color: var(--color-text-first);
    background-position: center;
    background-size: cover;
}

.request_container {
    max-width: 540px;
    background-color:  rgba(33, 33, 33, .85);
    padding: 100px 140px;
    text-align: center;
    margin: auto;
}

.request_container h2 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.request_container p {
    font-size: 1.125rem;
    margin-bottom: 60px;
}
/* Request */

/* Contacts */
.contacts {
    padding-bottom: 0;
}
.contacts_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts_map {
    width: 100%;
    max-width: 730px;
    max-height: 620px;
    margin: auto;
}

.contacts_info {
    display: grid;
    gap: 30px;
}

.contacts_row {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.contacts_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {

    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h1 {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .header_menu {
        display: none;
    }

    .burger {
        display: block;
        width: 35px;
        height: 25px;
        position: relative;
        border-bottom: 3px solid #FFFFFF;
        z-index: 1;
        transition: all .3s ease-in-out;
    }

    .burger::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 0;
        transition: all .3s ease-in-out;
    }

    .burger::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transition: all .3s ease-in-out;
    }

    .burger.active {
        border: 0;
    }   

    .burger.active::before {
        transform: rotate(45deg);
    }

    .burger.active::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .header_menu__mobile__container {
        display: block;
        width: 100%;
        max-width: 620px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 100px 20px 0 50px;
        background: var(--color-background-first);
        transition: right 1s ease-in-out;
    }

    .header_menu__mobile__container.active {
        right: 0%;
    }

    .header_menu__mobile {
        display: grid;
        gap: 30px;
    }

    .main_screen__container {
        align-items: center;
        text-align: center;
    }

    .main_screen__container h1 {
        margin-bottom: 5px;
    }

    .main_screen__container p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .icon_without {
        display: block;
        width: 36px;
        height: 36px;
    }

    .about_container {
        grid-template-columns: 100%;   
        margin-bottom: 0px;  
    }

    .about_slider__container .owl-nav {
        position: static;
        transform: none;
        justify-content: center;
        margin-top: 20px;
    }

    .about_text .button {
        max-width: 175px;
        margin: auto;
        margin-top: 40px;
        display: block;
    }

    .request_container {
        padding: 60px 30px;
    }

    .request_container p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .contacts_container {
        display: grid;
        gap: 20px;
    }
}

@media (max-width: 680px) {
    .content_without {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 300px);
    }
    
    .content_without img {
        object-position: top;
    }
    
    .content_without img:first-child {
        grid-column-start: auto;
        grid-column-end: auto;
    }
    
    .content_without img:nth-child(2) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
}

@media (max-width: 490px) {
    .content_without {
        grid-template-columns: repeat(1, 1fr);
        max-height: initial;
    }

    .content_without img {
        max-height: 300px;
    }
}